.aboutDirHeader {
    margin-bottom: 30px;
}

.directorName {
    margin-top: 20px;
}

.fab {
    font-size: 28px;
    padding:10px;
}

.fa-facebook-square {
    color: #3b5998 !important;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.fa-linkedin {
    color: #2867B2;
}